* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(65, 9, 97);
    color: #eee;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
}
    
/*typography*/
h1 {
    font-size: 80px;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  line-height: 1.2;
}
@media (max-width: 991px) {
  h1 {
    font-size: 65px;
  }
}
h2 {
    font-size: 60px;
  }
@media (max-width: 991px) {
    h2 {
      font-size: 50px;
    }
  }
  
h3 {
font-size: 40px;
}
h4 {
 font-size: 22px;
}
  
h5 {
 font-size: 18px;
}
  
h6 {
 font-size: 14px;
}
/*/typography*/

.navbar {
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    padding: 15px;
    float: right;
}
.navigation {
    padding: 40px 130px;
    transition: 0.3s ease;
  }
@media (max-width: 991px) {
    .navigation {
      padding: 15px 20px;
      background: rgb(65, 9, 97);
    }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    padding: 8px;
}
.navbar a {
      color: white;
      text-decoration: none;
}
.hero {
      height: 100vh;
      padding: 300px 200px;
}
@media (max-width: 767px) {
    .hero {
      padding: 250px 0 150px;
      overflow: hidden;
    }
}
 
/*Text Animation*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400|Montserrat');
.animation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.animation p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.animation p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.animation p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.animation p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
/*/Text Animation*/